%mda-breadcrumb {
  .mda-breadcrumb {
    --mda-breadcrum-default-height: var(--mda-component-height);
    --mda-breadcrum-default-item-spacing: var(--mda-breadcrum-item-spacing);

    --mda-breadcrumb-default-link-color: var(--mda-breadcrumb-link-color);
    --mda-breadcrumb-default-link-hover-color: var(--mda-breadcrumb-link-hover-color);
    --mda-breadcrumb-default-link-active-color: var(--mda-breadcrumb-link-active-color);

    --mda-breadcrum-default-separator-color: var(--mda-breadcrum-separator-color);
    --mda-breadcrum-default-dropdown-trigger-color: var(--mda-breadcrum-dropdown-trigger-color);
  }
}
