%mda-button {
  %mda-button-icon {
    position: absolute;
    line-height: var(--mda-component-height);
    color: inherit;
    top: -2px;
  }

  BUTTON.mda-button {
    position: relative;
    display: table-cell;
    width: fit-content;
    height: var(--mda-component-height);
    min-height: var(--mda-component-height);
    box-sizing: border-box;
    cursor: pointer;
    padding: var(--mda-component-padding-vertical) var(--mda-component-padding-horizontal);
    border: var(--mda-component-border);
    border-color: var(--mda-button-border-color);
    border-radius: var(--mda-component-border-radius);
    background-color: var(--mda-button-background-color);
    color: var(--mda-button-color);
    & > I.mda-icon {
      color: inherit;
    }
    &:hover {
      color: var(--mda-button-hover-color);
      border-color: var(--mda-button-hover-border-color);
      background-color: var(--mda-button-hover-background-color);
      & > I.mda-icon {
        color: inherit;
      }
    }
    &:focus, &.focus {
      box-shadow: var(--mda-component-focus-box-shadow);
    }
    &:active, &.pressed {
      color: var(--mda-button-active-color);
      border-color: var(--mda-button-active-border-color);
      background-color: var(--mda-button-active-background-color);
      & > I.mda-icon {
        color: inherit;
      }
    }
    &:disabled, &.disabled {
      color: var(--mda-button-disabled-color);
      border-color: var(--mda-button-disabled-border-color);
      background-color: var(--mda-button-disabled-background-color);
      cursor: var(--mda-component-disabled-cursor);
      & > I.mda-icon {
        color: var(--mda-button-disabled-icon-color);
        cursor: inherit;
      }
    }

    &.mda-button--icon-left {
      padding-left: calc(var(--mda-component-padding-horizontal) + 1.1em + var(--mda-component-icon-left-spacer));
      I.mda-icon {
        @extend %mda-button-icon;
        &.mda-icon--left {
          left: var(--mda-component-padding-horizontal);
        }
      }
    }
    &.mda-button--icon-right {
      padding-right: calc(var(--mda-component-padding-horizontal) + 1.1em + var(--mda-component-icon-right-spacer));
      I.mda-icon {
        @extend %mda-button-icon;
        &.mda-icon--right {
          right: var(--mda-component-padding-horizontal);
        }
      }
    }
    &.mda-button--icon-only {
      padding: 0;
      width: var(--mda-component-height);
      min-width: var(--mda-component-height);
      I.mda-icon {
        @extend %mda-button-icon;
        left: 0;
        top: calc(var(--mda-button-border-correction) * -1);
        width: calc(var(--mda-component-height) - var(--mda-button-border-correction));
      }
    }

    &.no-events {
      cursor: wait;
      &:hover {
        color: var(--mda-button-color);
        border-color: var(--mda-button-border-color);
        background-color: var(--mda-button-background-color);
      }
    }
  }
}
