%mda-modal {
  .mda-modal {
    --mda-modal-default-overlay-position: var(--mda-modal-overlay-position);
    --mda-modal-default-overlay-width: var(--mda-modal-overlay-width);
    --mda-modal-default-overlay-height: var(--mda-modal-overlay-height);
    --mda-modal-default-overlay-background-color: var(--mda-modal-overlay-background-color);

    --mda-modal-default-z-indez: var(--mda-modal-z-indez);
    --mda-modal-default-border: var(--mda-modal-border);
    --mda-modal-default-border-radius: var(--mda-modal-border-radius);
    --mda-modal-default-box-shadow: var(--mda-component-box-shadow);

    --mda-modal-default-border-color: var(--mda-modal-border-color);
    --mda-modal-default-background-color: var(--mda-modal-background-color);
    --mda-modal-default-padding: var(--mda-modal-padding);
    --mda-modal-default-spacing: var(--mda-modal-spacing);
    --mda-modal-default-spacing-vertical: var(--mda-modal-spacing-vertical);

    --mda-modal-default-close-control-color: var(--mda-modal-close-control-color);

    --mda-modal-default-header-separator-color: var(--mda-modal-header-separator-color);
    --mda-modal-default-header-color: var(--mda-modal-header-color);

    .mda-modal__box {
      .mda-modal__header {
        .mda-modal__title {
          flex: 1;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      .mda-modal__body {
        flex: 1;
        scrollbar-color: #cdd6df #fff;
        scrollbar-width: thin;
        &::-webkit-scrollbar-track {
          border-radius: 30px;
          border: solid 3px transparent;
        }
        &::-webkit-scrollbar {
          width: 9px;
          border-radius: 10px !important;
        }
        &::-webkit-scrollbar-thumb {
          box-shadow: inset 0 0 10px 10px #cdd6df;
          border-radius: 80px !important;
          border: solid 2px transparent;
        }
      }
    }
  }
}
