@import '../../../global/mixins';
@import './font-sizes';

$indeterminate: 'data:image/svg+xml; utf8, <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="3" y="7" width="10" height="2" fill="rgb(7, 118, 223)"/></svg>';
$indeterminateDisabled: 'data:image/svg+xml; utf8, <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="3" y="7" width="10" height="2" fill="rgb(156, 200, 242)"/></svg>';

%mda-components-template {
  LABEL {
    &.mda-label, &.mda-label.mda-label--small {
      @include defineFontSizeElement(12, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  INPUT, SPAN, DIV {
    &.mda-input {
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
      &.mda-input--small {
        --mda-component-height: 30px;
        --mda-component-padding-horizontal: 8px;
        @include defineFontSizeElement(12, $fontSizeRoot, $fontLineHeightFactor);
      }
    }
  }

  INPUT[type=radio], INPUT[type=checkbox] {
    & + LABEL {
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
      line-height: calc(var(--mda-selection-icon-size) + 1px);
    }
  }

  INPUT[type=radio] {
    & + LABEL {
      &:before {
        top: var(--mda-selection-icon-spacer-vertical);
      }
    }
    &:checked + LABEL {
      &:after {
        top: var(--mda-selection-icon-spacer-vertical);
      }
    }
  }

  INPUT[type=checkbox]:not(.mda-switch) {
    &:disabled, &.disabled {
      &.mda-checkbox--indeterminate {
        &:checked + LABEL {
          &:after {
            background-image: url($indeterminateDisabled);
          }
        }
      }
    }

    &.mda-checkbox--indeterminate {
      &:checked + LABEL {
        &:after {
          background-image: url($indeterminate);
        }
      }
    }
  }

  SPAN, DIV {
    &.mda-report {
      @include defineFontSizeElement(12, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  TEXTAREA.mda-textarea {
    padding-top: calc((var(--mda-component-height) - (14px * #{$fontLineHeightFactor})) / 2);
    @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
    &.mda-textarea--small {
      --mda-component-height: 30px;
      --mda-component-padding-horizontal: 8px;
      padding-top: calc((var(--mda-component-height) - (12px * #{$fontLineHeightFactor})) / 2);
      @include defineFontSizeElement(12, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  SELECT, SPAN, DIV {
    &.mda-select {
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
      &.mda-select--small {
        --mda-component-height: 30px;
        --mda-component-padding-horizontal: 8px;
        @include defineFontSizeElement(12, $fontSizeRoot, $fontLineHeightFactor);
      }
      &.mda-select--filter {
        --mda-component-height: fit-content;
        --mda-component-width: fit-content;
        --mda-component-padding-vertical: 0;
      }
      &.mda-select--placeholder {
        color: var(--mda-component-placeholder-color);
      }
    }
  }

  BUTTON {
    &.mda-button {
      --mda-component-padding-horizontal: 20px;
      --mda-component-icon-left-spacer: 8px;
      padding-top: 2px;
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
      line-height: 1;
      &.mda-button--small {
        --mda-component-height: 30px;
        @include defineFontSizeElement(12, $fontSizeRoot, $fontLineHeightFactor);
        line-height: 1;
        I.mda-icon {
          --mda-button-icon-spacer: 4px;
        }
      }
      &.mda-button--icon-left, &.mda-button--icon-right, &.mda-button--icon-only {
        I.mda-icon {
          top: -1px;
        }
      }
      &.mda-button--secondary, &.mda-button--bob {
        --mda-button-color: var(--mda-color-space-70);
        --mda-button-border-color: var(--mda-color-space-40);
        --mda-button-background-color: var(--mda-color-neutral-full);
        --mda-button-hover-color: var(--mda-color-space-80);
        --mda-button-hover-border-color: var(--mda-color-space-80);
        --mda-button-hover-background-color: var(--mda-color-action-10);
        --mda-button-active-color: var(--mda-color-space);
        --mda-button-active-border-color: var(--mda-color-space-80);
        --mda-button-active-background-color: var(--mda-color-action-20);
        --mda-button-disabled-color: var(--mda-color-space-30);
        --mda-button-disabled-border-color: var(--mda-color-space-20);
        --mda-button-disabled-background-color: var(--mda-color-neutral-full);
      }
      &.mda-button--borderless {
        --mda-button-color: var(--mda-color-space-70);
        --mda-button-border-color: var(--mda-color-neutral-full);
        --mda-button-background-color: var(--mda-color-neutral-full);
        --mda-button-hover-color: var(--mda-color-space-80);
        --mda-button-hover-border-color: var(--mda-color-action-10);
        --mda-button-hover-background-color: var(--mda-color-action-10);
        --mda-button-active-color: var(--mda-color-space);
        --mda-button-active-border-color: var(--mda-color-action-20);
        --mda-button-active-background-color: var(--mda-color-action-20);
      }
      &.mda-button--critical {
        --mda-button-color: var(--mda-color-neutral-full);
        --mda-button-border-color: var(--mda-color-critical);
        --mda-button-background-color: var(--mda-color-critical);
        --mda-button-hover-color: var(--mda-color-neutral-full);
        --mda-button-hover-border-color: var(--mda-color-critical-120);
        --mda-button-hover-background-color: var(--mda-color-critical-120);
        --mda-button-active-color: var(--mda-color-neutral-full);
        --mda-button-active-border-color: var(--mda-color-critical-140);
        --mda-button-active-background-color: var(--mda-color-critical-140);
      }
    }
  }

  SPAN, DIV {
    &.mda-tag {
      --mda-component-padding-horizontal: 8px;
      font-size: getRemRelativeSize(14, $fontSizeRoot);
      line-height: calc(var(--mda-tag-height) - 2px);
      &.mda-tag--medium {
        --mda-component-icon-spacer: 4px;
        --mda-tag-height: 24px;
        font-size: getRemRelativeSize(12, $fontSizeRoot);
      }
      &.mda-tag--small {
        --mda-component-icon-spacer: 4px;
        --mda-tag-height: 18px;
        font-size: getRemRelativeSize(12, $fontSizeRoot);
      }
      &.mda-tag--neutral {
        color: var(--mda-tag-neutral-text-color);
        border-color: var(--mda-tag-neutral-border-color);
        background-color: var(--mda-tag-neutral-background-color);
      }
      &.mda-tag--critical {
        color: var(--mda-tag-critical-text-color);
        border-color: var(--mda-tag-critical-border-color);
        background-color: var(--mda-tag-critical-background-color);
      }
      &.mda-tag--warning {
        color: var(--mda-tag-warning-text-color);
        border-color: var(--mda-tag-warning-border-color);
        background-color: var(--mda-tag-warning-background-color);
      }
      &.mda-tag--success {
        color: var(--mda-tag-success-text-color);
        border-color: var(--mda-tag-success-border-color);
        background-color: var(--mda-tag-success-background-color);
      }
    }
  }

  .mda-spinner {
    &.mda-spinner--inline {
      --mda-spinner-display: inline-flex;
    }
    &.mda-spinner--inherit {
      --mda-spinner-display: inherit;
    }
    &.mda-spinner--12 {
      --mda-spinner-size: 12px;
      --mda-spinner-line-width: 7px;
    }
    &.mda-spinner--16 {
      --mda-spinner-size: 16px;
      --mda-spinner-line-width: 6px;
    }
    &.mda-spinner--20 {
      --mda-spinner-size: 20px;
      --mda-spinner-line-width: 5px;
    }
    &.mda-spinner--80 {
      --mda-spinner-size: 80px;
      --mda-spinner-line-width: 3px;
    }
    &.mda-spinner--inverse {
      --mda-spinner-color: var(--mda-color-neutral-full);
    }
  }

  .mda-notification {
    &.mda-notification--success {
      --mda-notification-text-color: var(--mda-color-neutral-full);
      --mda-notification-border-color: var(--mda-color-success);
      --mda-notification-background-color: var(--mda-color-success);
    }
    &.mda-notification--warning {
      --mda-notification-text-color: var(--mda-color-neutral-full);
      --mda-notification-border-color: var(--mda-color-warning);
      --mda-notification-background-color: var(--mda-color-warning);
    }
    &.mda-notification--critical {
      --mda-notification-text-color: var(--mda-color-neutral-full);
      --mda-notification-border-color: var(--mda-color-critical);
      --mda-notification-background-color: var(--mda-color-critical);
    }
  }

  A.mda-link {
    &.mda-link-small {
      @include defineFontSizeElement(12, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  .mda-alert {
    .mda-alert__header {
      .mda-alert__title {
        @include defineFontSizeElement(16, $fontSizeRoot, $fontLineHeightFactor);
      }
    }
    &:not(.mda-alert--connection-lost) {
      border-left: 4px solid var(--mda-color-action);
    }
    &.mda-alert--success {
      border-left: 4px solid var(--mda-color-success);
      --mda-alert-title-icon-color: var(--mda-color-success);
    }
    &.mda-alert--warning {
      border-left: 4px solid var(--mda-color-warning);
      --mda-alert-title-icon-color: var(--mda-color-warning);
    }
    &.mda-alert--critical {
      border-left: 4px solid var(--mda-color-critical);
      --mda-alert-title-icon-color: var(--mda-color-critical);
    }
    &.mda-alert--connection-lost{
      --mda-alert-background-color: var(--mda-color-space-70);
      --mda-alert-border-color: var(--mda-color-space-70);
      --mda-alert-body-text-color: var(--mda-color-neutral-full);
      --mda-alert-title-icon-color: var(--mda-color-neutral-full);
      --mda-alert-title-text-color: var(--mda-color-neutral-full);
    }
  }

  .mda-tab {
    @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
    &.mda-tab--small {
      @include defineFontSizeElement(12, $fontSizeRoot, $fontLineHeightFactor);
      --mda-tab-height: 30px;
    }
  }
}
