@import '../../../global/mixins';
@import './font-sizes';

%npa-components-template {
  // ###### BUTTON ###################################################################
  BUTTON {
    &.npa-button {
      --npa-component-padding-horizontal: 20px;
      --npa-component-icon-left-spacer: 8px;
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
      line-height: 1;
      &.npa-button--small {
        --npa-component-height: 30px;
        @include defineFontSizeElement(12, $fontSizeRoot, $fontLineHeightFactor);
        line-height: 1;
        I.npa-icon {
          --npa-button-icon-spacer: 4px;
        }
      }
      &.npa-button--icon-left, &.npa-button--icon-right, &.npa-button--icon-only {
        I.npa-icon {
          top: -1px;
        }
      }
    }
  }

  // ###### LINK #####################################################################
  A.npa-link {
    &.npa-link-small {
      @include defineFontSizeElement(12, $fontSizeRoot, $fontLineHeightFactor);
    }
  }
}
