@import '../../../global/mixins';
@import './font-sizes';

%mda-components-template {
  // ###### BUTTON ###################################################################
  BUTTON {
    &.mda-button {
      --mda-component-padding-horizontal: 20px;
      --mda-component-icon-left-spacer: 8px;
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
      line-height: 1;
      &.mda-button--small {
        --mda-component-height: 30px;
        @include defineFontSizeElement(12, $fontSizeRoot, $fontLineHeightFactor);
        line-height: 1;
        I.mda-icon {
          --mda-button-icon-spacer: 4px;
        }
      }
      &.mda-button--icon-left, &.mda-button--icon-right, &.mda-button--icon-only {
        I.mda-icon {
          top: -1px;
        }
      }
    }
  }

  // ###### LINK #####################################################################
  A.mda-link {
    &.mda-link-small {
      @include defineFontSizeElement(12, $fontSizeRoot, $fontLineHeightFactor);
    }
  }
}
