@import '../../../../global/components/shared/common';
@import '../colors';
@import './sass';

%mda-global-vars {
  // ###### Color Scheme Definition

  @each $key, $value in $colorsAvailable {
    --mda-color-#{$key}: #{$value};
    --mda-color-#{$key}-rgb: #{red($value), green($value), blue($value)};
  }

  // ###### Generic Colors (HEX)
  --mda-focus-color: var(--mda-color-action);
  --mda-error-color: var(--mda-color-critical);

  // ###### Component Colors (HEX)
  --mda-component-border-color: var(--mda-color-space-40);
  --mda-component-background-color: var(--mda-color-neutral-full);
  --mda-component-hover-border-color: var(--mda-color-space-70);
  --mda-component-hover-background-color: var(--mda-color-neutral-full);
  --mda-component-focus-color: var(--mda-color-action-20);
  --mda-component-focus-border-color: var(--mda-color-action);
  --mda-component-focus-background-color: var(--mda-color-neutral-full);
  --mda-component-error-border-color: var(--mda-color-critical);
  --mda-component-error-background-color: var(--mda-color-neutral-full);
  --mda-component-checked-border-color: var(--mda-color-action);
  --mda-component-checked-background-color: var(--mda-color-action);

  // ###### Component Colors (RGB Variations)
  --mda-component-focus-border-color-rgb: var(--mda-color-action-rgb);

  // ###### Component Generic DISABLED and variations
  --mda-component-disabled-color: var(--mda-color-space-80);
  --mda-component-disabled-border-color: var(--mda-color-space-40);
  --mda-component-disabled-background-color: var(--mda-color-space-5);
  --mda-component-disabled-cursor: not-allowed;

  // ###### Component Generic PLACEHOLDER
  --mda-component-placeholder-color: var(--mda-color-space-50);
  --mda-component-placeholder-disabled-color: var(--mda-color-space-50);

  // ###### Component ICON (icons inside components like .mda-input--search)
  --mda-component-icon-color: var(--mda-color-space-80);
  --mda-component-icon-disabled-color: var(--mda-color-space-50);

  // ###### Component Commons
  --mda-component-width: fit-content;
  --mda-component-height: 36px;
  --mda-component-vertical-spacer: 2px;

  --mda-component-padding-vertical: 0;
  --mda-component-padding-horizontal: 12px;

  --mda-component-focus-box-shadow: 0 0 0 2px var(--mda-component-focus-color);

  --mda-component-border: 1px solid;
  --mda-component-border-radius: 4px;

  --mda-component-icon-left-spacer: 4px;
  --mda-component-icon-right-spacer: 8px;

  // ###### ICONS
  --mda-icon-font-family: '#{$defaultIconFontFamilySds}', '#{$defaultIconFontFamilyEgeo}', Symbol, sans-serif;
  --mda-icon-search: '#{$searchIcon}';
  --mda-icon-email: '#{$emailIcon}';
  --mda-icon-user: '#{$userIcon}';
  --mda-icon-password: '#{$passwordIcon}';
  --mda-icon-action-clear: '#{$actionClearIcon}';
  --mda-icon-arrow-bottom: '#{$arrowDownIcon}';
  --mda-icon-checkbox-checked: '#{$checkboxCheckedIcon}';

  // ###### LABEL
  --mda-label-display: table-cell;
  --mda-label-color: var(--mda-color-space-80);
  --mda-label-focus-color: var(--mda-color-space-110);
  --mda-label-error-color: var(--mda-color-space-80);
  --mda-label-disabled-color: var(--mda-color-space-80);

  // ###### REPORT
  --mda-report-color: var(--mda-color-space-80);

  // ###### Generic SELECTION elements (like radio or checkbox)
  --mda-selection-option-spacer: 24px;
  --mda-selection-icon-spacer: 8px;
  --mda-selection-icon-spacer-vertical: 4px;
  --mda-selection-icon-size: 16px;
  --mda-selection-z-index-before: auto;
  --mda-selection-z-index-after: auto;

  --mda-selection-disabled-tex-color: var(--mda-color-space-50);
  --mda-selection-checked-disabled-border-color: var(--mda-color-action-40);
  --mda-selection-checked-disabled-background-color: var(--mda-color-action-40);

  // ###### RADIO Button
  --mda-radio-border-radius: 100%;

  // ###### CHECKBOX Button
  --mda-checkbox-border-radius: 2px;
  --mda-checkbox-indeterminate-border-color: var(--mda-color-action);
  --mda-checkbox-indeterminate-background-color: var(--mda-color-neutral-full);
  --mda-checkbox-indeterminate-disabled-border-color: var(--mda-color-action-40);
  --mda-checkbox-indeterminate-disabled-background-color: var(--mda-color-neutral-full);

  // ###### TEXTAREA
  --mda-textarea-resize: vertical;

  // ###### BUTTON
  --mda-button-color: var(--mda-color-neutral-full);
  --mda-button-border-color: var(--mda-color-action);
  --mda-button-background-color: var(--mda-color-action);
  --mda-button-hover-color: var(--mda-color-neutral-full);
  --mda-button-hover-border-color: var(--mda-color-action-120);
  --mda-button-hover-background-color: var(--mda-color-action-120);
  --mda-button-active-color: var(--mda-color-neutral-full);
  --mda-button-active-border-color: var(--mda-color-action-150);
  --mda-button-active-background-color: var(--mda-color-action-150);
  --mda-button-disabled-color: var(--mda-color-space-30);
  --mda-button-disabled-border-color: var(--mda-color-space-5);
  --mda-button-disabled-background-color: var(--mda-color-space-5);
  --mda-button-disabled-icon-color: var(--mda-color-space-30);

  --mda-button-icon-spacer: 8px;
  --mda-button-border-correction: 2px;

  // ###### SWITCH
  --mda-switch-background-color: var(--mda-color-space-30);
  --mda-switch-color: var(--mda-color-neutral-full);
  --mda-switch-shadow-color: var(--mda-color-neutral);
  --mda-switch-shadow-color-rgb: var(--mda-color-neutral-rgb);
  --mda-switch-checked-background-color: var(--mda-color-action);
  --mda-switch-disabled-background-color: var(--mda-color-space-10);
  --mda-switch-disabled-checked-background-color: var(--mda-color-action-40);

  --mda-switch-height: 22px;
  --mda-switch-border-radio: 25px;

  // ###### TAG
  --mda-tag-text-color: var(--mda-color-space-110);
  --mda-tag-border-color: var(--mda-color-space-10);
  --mda-tag-background-color: var(--mda-color-space-10);
  --mda-tag-neutral-text-color: var(--mda-color-space-110);
  --mda-tag-neutral-border-color: var(--mda-color-space-20);
  --mda-tag-neutral-background-color: var(--mda-color-space-20);
  --mda-tag-critical-text-color: var(--mda-color-critical-140);
  --mda-tag-critical-border-color: var(--mda-color-critical-10);
  --mda-tag-critical-background-color: var(--mda-color-critical-10);
  --mda-tag-warning-text-color: var(--mda-color-warning);
  --mda-tag-warning-border-color: var(--mda-color-warning-10);
  --mda-tag-warning-background-color: var(--mda-color-warning-10);
  --mda-tag-success-text-color: var(--mda-color-success);
  --mda-tag-success-border-color: var(--mda-color-success-10);
  --mda-tag-success-background-color: var(--mda-color-success-10);

  --mda-tag-hover-text-color: var(--mda-color-action);
  --mda-tag-hover-border-color: var(--mda-color-action-10);
  --mda-tag-hover-background-color: var(--mda-color-action-10);
  --mda-tag-active-text-color: var(--mda-color-neutral-full);
  --mda-tag-active-border-color: var(--mda-color-action);
  --mda-tag-active-background-color: var(--mda-color-action);
  --mda-tag-disabled-text-color: var(--mda-color-space-50);
  --mda-tag-disabled-border-color: var(--mda-color-space-10);
  --mda-tag-disabled-background-color: var(--mda-color-space-10);

  --mda-tag-height: 30px;

  // ###### SPINNER
  --mda-spinner-display: block;
  --mda-spinner-size: 60px;
  --mda-spinner-line-width: 3px;
  --mda-spinner-color: var(--mda-color-action);

  // ###### DROPDOWN
  --mda-dropdown-position: absolute;
  --mda-dropdown-width: fit-content;
  --mda-dropdown-min-width: 150px;
  --mda-dropdown-top: 0;
  --mda-dropdown-left: 0;

  --mda-dropdown-border: none;
  --mda-dropdown-border-color: unset;
  --mda-dropdown-border-radius: var(--mda-component-border-radius);

  --mda-dropdown-box-shadow: 0 3px 9px 0 rgba(var(--mda-color-neutral-rgb), 0.25);

  --mda-dropdown-padding: 4px 0;
  --mda-dropdown-margin: 0;

  --mda-dropdown-option-group-min-height: 30px;
  --mda-dropdown-option-group-color: var(--mda-color-space-50);

  --mda-dropdown-option-min-height: 40px;
  --mda-dropdown-option-padding-vertical: 8px;
  --mda-dropdown-option-padding-horizontal: 16px;
  --mda-dropdown-option-icon-size: 16px;
  --mda-dropdown-option-icon-spacer: 8px;
  --mda-dropdown-option-label-correction: 1px;
  --mda-dropdown-option-hover-color: var(--mda-color-action-10);
  --mda-dropdown-option-border-radius: 0;

  --mda-dropdown-option-hover-background-color: var(--mda-color-action-10);

  --mda-dropdown-option-selected-background-color: var(--mda-color-space-10);

  --mda-dropdown-option-icon-right-size: 14px;
  --mda-dropdown-option-icon-right-spacer: 40px;

  --mda-dropdown-separator-border: var(--mda-component-border);
  --mda-dropdown-separator-border-color: var(--mda-color-space-20);
  --mda-dropdown-separator-margin: 4px 0;

  // ###### NOTIFICATION
  --mda-notification-position: fixed;
  --mda-notification-padding: 7px 15px;
  --mda-notification-width: fit-content;
  --mda-notification-min-width: unset;
  --mda-notification-max-width: 50vw;
  --mda-notification-top: 0;
  --mda-notification-left: 0;
  --mda-notification-z-index: 1;

  --mda-notification-border: var(--mda-component-border);
  --mda-notification-border-radius: var(--mda-component-border-radius);
  --mda-notification-box-shadow: 0 3px 9px rgba(17, 17, 17, 0.25);

  --mda-notification-text-color: var(--mda-color-space-80);
  --mda-notification-border-color: var(--mda-color-neutral-full);
  --mda-notification-background-color: var(--mda-color-neutral-full);

  --mda-notification-icon-separation: 10px;
  --mda-notification-close-control-separation: 50px;

  --mda-notification-inside-link-color: var(--mda-color-action);

  // ###### LINK
  --mda-link-color: var(--mda-color-action);
  --mda-link-hover-color: var(--mda-color-action);

  // ###### ALERT
  --mda-alert-position: fixed;
  --mda-alert-padding-vertical: 32px;
  --mda-alert-padding-horizontal: var(--mda-alert-padding-vertical);
  --mda-alert-width: 350px;
  --mda-alert-min-width: var(--mda-alert-width);
  --mda-alert-max-width: var(--mda-alert-width);
  --mda-alert-top: 0;
  --mda-alert-left: 0;
  --mda-alert-z-index: 1;

  --mda-alert-border: var(--mda-component-border);
  --mda-alert-border-radius: var(--mda-component-border-radius);
  --mda-alert-box-shadow: 0 3px 9px rgba(17, 17, 17, 0.25);

  --mda-alert-close-control-color: var(--mda-color-space-80);
  --mda-alert-close-control-top: -15px;
  --mda-alert-close-control-right: -15px;

  --mda-alert-header-separation: 12px;
  --mda-alert-title-icon-separation: 12px;

  --mda-alert-title-text-color: var(--mda-color-space-110);
  --mda-alert-title-icon-color: var(--mda-color-action);
  --mda-alert-title-icon-spacer: 8px;
  --mda-alert-body-text-color: var(--mda-color-space-80);
  --mda-alert-border-color: var(--mda-color-space-20);
  --mda-alert-background-color: var(--mda-color-neutral-full);

  --mda-alert-actions-height: 40px;
  --mda-alert-actions-background-color: var(--mda-color-space-5);
  --mda-alert-actions-separation: 2px;

  // ###### TAB
  $sdsTabAuxCellPaddingBottom: 4px;
  $sdsTabAuxCellActiveBorderWidth: 2px;

  --mda-tab-width: 100%;
  --mda-tab-border: var(--mda-component-border);
  --mda-tab-border-color: var(--mda-color-space-20);

  --mda-tab-height: var(--mda-component-height);

  --mda-tab-cell-padding: 0 24px #{$sdsTabAuxCellPaddingBottom} 24px;
  --mda-tab-cell-margin-bottom: -1px;
  --mda-tab-cell-color: var(--mda-color-action);
  --mda-tab-cell-hover-color: var(--mda-color-action-120);
  --mda-tab-cell-cursor: pointer;

  --mda-tab-cell-active-padding-bottom: calc(#{$sdsTabAuxCellPaddingBottom} - #{$sdsTabAuxCellActiveBorderWidth});
  --mda-tab-cell-active-color: var(--mda-color-space-110);
  --mda-tab-cell-active-border: #{$sdsTabAuxCellActiveBorderWidth} solid;
  --mda-tab-cell-active-border-color: var(--mda-color-space-110);
  --mda-tab-cell-active-cursor: default;

  // ###### TOGGLE BUTTON
  $sdsToggleButtonBorderWidth: 1px;
  --mda-toggle-button-border: #{$sdsToggleButtonBorderWidth} solid;
  --mda-toggle-button-margin-left: calc(#{$sdsToggleButtonBorderWidth} * (-1));
  --mda-toggle-button-border-color: var(--mda-color-space-40);
  --mda-toggle-button-border-radius: var(--mda-component-border-radius);

  --mda-toggle-button-disabled-border-color: var(--mda-color-space-20);

  --mda-toggle-button-active-color: var(--mda-color-space);
  --mda-toggle-button-active-background-color: var(--mda-color-space-10);

  --mda-toggle-button-active-disabled-color: var(--mda-color-space-30);
  --mda-toggle-button-active-disabled-border-color: var(--mda-color-space-20);
  --mda-toggle-button-active-disabled-background-color: var(--mda-color-space-5);
}
