@import '../../../../global/mixins';
@import '../../../../global/components/shared/common';
@import '../font-sizes';
@import '../colors';
@import '../template-base';
@import '../spacing';

%mda-global-vars {
  // ###### Spacing Definition
  @each $value in $spacings {
    --mda-spacing-#{$value}: #{$value}px;
    --mda-spacing-relative-#{$value}: #{getRemRelativeSize($value, $fontSizeRoot)};
  }

  // ###### Color Scheme Definition
  @each $key, $value in $colorsAvailable {
    $symbol: if($key==-white or $key==-black,'','-');
    --mda-color#{$symbol}#{$key}: #{$value};
    --mda-color#{$symbol}#{$key}-rgb: #{red($value), green($value), blue($value)};
  }
  @each $key, $value in $templateBaseBackgroundColor {
    --mda-color-#{$key}: #{$value};
    --mda-color-#{$key}-rgb: #{red($value), green($value), blue($value)};
  }
  @each $key, $value in $templateBaseBorderColor {
    --mda-color-#{$key}: #{$value};
    --mda-color-#{$key}-rgb: #{red($value), green($value), blue($value)};
  }
  @each $key, $value in $templateBaseTextColor {
    --mda-color-#{$key}: #{$value};
    --mda-color-#{$key}-rgb: #{red($value), green($value), blue($value)};
  }

  // ###### Component Commons
  --mda-component-width: fit-content;
  --mda-component-height: 36px;
  --mda-component-vertical-spacer: 2px;

  --mda-component-padding-vertical: 0;
  --mda-component-padding-horizontal: 12px;

  --mda-component-box-shadow: 0 3px 9px 0 rgba(var(--mda-color-neutral-12-rgb), 0.25);
  --mda-component-focus-box-shadow: 0 0 0 2px var(--mda-color-action-rgb);

  --mda-component-border: 1px solid;
  --mda-component-border-radius: 4px;

  --mda-component-icon-left-spacer: 4px;
  --mda-component-icon-right-spacer: 8px;

  --mda-component-disabled-cursor: not-allowed;

  // ################################################################################################
  // ###### COMPONENTS ##############################################################################
  // ################################################################################################

  // ###### BUTTON
  --mda-button-color: var(--mda-color-box-8);
  --mda-button-border-color: var(--mda-color-box-8);
  --mda-button-background-color: var(--mda-color-white);
  --mda-button-hover-color: var(--mda-color-box-8);
  --mda-button-hover-border-color: var(--mda-color-box-8);
  --mda-button-hover-background-color: var(--mda-color-box-1);
  --mda-button-active-color: var(--mda-color-box-8);
  --mda-button-active-border-color: var(--mda-color-box-8);
  --mda-button-active-background-color: var(--mda-color-box-2);
  --mda-button-disabled-color: var(--mda-color-box-3);
  --mda-button-disabled-border-color: var(--mda-color-box-1);
  --mda-button-disabled-background-color: var(--mda-color-box-1);
  --mda-button-disabled-icon-color: var(--mda-color-box-3);

  --mda-button-icon-spacer: 8px;
  --mda-button-border-correction: 2px;

  // ###### LINK
  --mda-link-color: var(--mda-color-action);
  --mda-link-hover-color: var(--mda-color-action);
}
