// ###### ACTION
$colorAction: #0194fe;
$colorWhite: #ffffff;
$colorBlack: #000000;

// ###### BOX
$colorBox1: #EDEEF3;
$colorBox2: #c2deda;
$colorBox3: #A6AEBF;
$colorBox4: #565F76;
$colorBox5: #3D4A57;
$colorBox6: #27323D;
$colorBox7: #232730;
$colorBox8: #222429;
$colorBox9: #1B2732;

// ###### NEUTRAL
$colorNeutral1: #fafafa;
$colorNeutral2: #dfdfdf;
$colorNeutral3: #c4c4c4;
$colorNeutral4: #aaaaaa;
$colorNeutral5: #8f8f8f;
$colorNeutral6: #747474;
$colorNeutral7: #595959;
$colorNeutral8: #434343;
$colorNeutral9: #262626;
$colorNeutral10: #1f1f1f;
$colorNeutral11: #141414;
$colorNeutral12: #111111;

// ###### MISCELLANEOUS
$colorMiscellaneous1: #fb5f5c;
$colorMiscellaneous2: #8F3B35;
