@import 'app.colors';

// ###### LAYOUT
$colorBackground: $colorBox7;
$colorBackgroundAlternative: $colorWhite;
$colorBackgroundMisc1: $colorMiscellaneous1;
$colorBackgroundMisc2: $colorBox6;
$colorBackgroundMisc3: $colorMiscellaneous2;

$colorBorderDivider: $colorBox3;
$colorBorderDividerAlternative: $colorBox7;

$colorText: $colorBox3;
$colorTextAlternative: $colorBox8;
$colorTextTitle: $colorBox2;
$colorTextTitleAlternative: $colorBox9;
$colorTextLink: $colorAction;
